<body>
<div class="login-container">
  <form class="login-form" [formGroup]="loginForm">
    <h2>Bienvenido a TransPortaCol</h2>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" placeholder="Enter your email" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" placeholder="Enter your password" required>
    </div>
    <button type="submit"  [disabled]="this.loginForm.valid == false"  (click)="goHome()">Login</button>
  </form>
</div>
</body>
